<template lang="pug" src="./HelloWorld.pug"></template>

<script src="./HelloWorld.js"></script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less" src="./HelloWorld.less">
</style>
